[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
[fetch]
	prune = true
	prunetags = true
[core]
	excludesFile = ~/.gitignore
[merge]
	conflictstyle = zdiff3
[branch]
	sort = -committerdate
[tag]
	sort = -taggerdate
[rebase]
	autostash = true
[diff]
	algorithm = histogram
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
